@charset "UTF-8";
.flextotal {
    display: flex;
    align-items: center;
    max-width: 1920px;
}
.flex {
    display: flex;
    align-items: center;
    max-width: 1080px;
}
.left {
    justify-content: left;
}
.right {
    justify-content: right;
}
.center {
    justify-content: center;
}
.bold {
    font-weight: bold;
}
.blinking {
    color: var(--cor-vinho);
    font-size: 14px;
    animation: blink-animation 3s steps(5, start) infinite;
    padding: 10px;
}
.sombra {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.300);
}
@media (max-width: 1200px) {
    .flex {
        max-width: 90%;
    }   
}